<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express Templating</title>
</head>
<body>
    <h1>Express EJS Template</h1>
    <ul>
        <% for (var i = 0; i < 3; i++) { %>
            <li>Loop Number: <%= i+1 %></li>
        <% } %>
    </ul>
</body>
</html>